# On pull request events, this workflow will run
# `terraform init`, `terraform fmt`, and `terraform plan`. 

name: 'Terraform-validate'

on: 
  pull_request:
    branches: [master]


jobs:
  build:
    name: 'Terraform-validate'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./examples/classic-free

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v2

    # Checks that all Terraform configuration files adhere to a canonical format
    - name: Terraform fmt
      id: fmt
      run: terraform fmt -check
      continue-on-error: true

    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: Terraform Init
      id: init
      run: terraform init

    # Validates the configuration files
    - name: Terraform Validate
      id: validate
      run: terraform validate -no-color

    # Generates an execution plan for Terraform
    - name: Terraform Plan
      id: plan
      run: terraform plan -no-color
      continue-on-error: true

